<div class="row">
  <div class="col-lg-12 mb-4">
    <div class="blog-preview">
      <div class="blog-thumb">
        <img src="/images/dummy.jpg" alt="Blog Title" />
      </div>
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="blog-preview-content">
            <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
            <div class="blog-preview-meta">
              <span><i class="fa fa-user"></i>&ensp;Admin</span>
              <span class="v-divider"></span>
              <span><i class="fa fa-clock"></i>&ensp;1 Jan 2020 on 11:30</span>
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
              laudantium distinctio nemo, eligendi recusandae minus quam
              sapiente. Culpa in dolorem aspernatur dolores voluptate animi
              labore?
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
              beatae excepturi quibusdam quidem delectus dolore soluta porro
              quis odio nihil quam laboriosam doloremque ipsum possimus,
              cupiditate maiores sapiente est dolores.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
              ullam in illo officia. Facere inventore tenetur nesciunt ut,
              distinctio saepe ipsa perferendis. Sunt quam veniam nemo a labore,
              atque laborum delectus aperiam saepe, debitis consequuntur natus
              dolorum unde dolores soluta odit velit ipsa ipsum voluptatem.
              Fugit maxime, reprehenderit placeat cupiditate perspiciatis amet
              ad repellat quas laboriosam tempora aspernatur impedit voluptatum
              beatae accusantium laborum et quo quidem ab quos pariatur ipsum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
