<div class="col-lg-3 mb-4">
  <div class="blog-item">
    <img src="/images/dummy.jpg" alt="Blog Title" />
    <div class="blog-item-content">
      <h2>
        <a href="#"
          >Lorem, ipsum dolor sit amet consectetur adipisicing elit.</a
        >
      </h2>
      <div class="blog-item-meta">
        <span><i class="fa fa-user"></i>&ensp;Admin</span>
        <span class="v-divider"></span>
        <span><i class="fa fa-clock"></i>&ensp;1 Jan 2020</span>
        <span class="v-divider"></span>
        <span><i class="fa fa-eye"></i>&ensp;100</span>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
        consequuntur ut officiis! Sed quisquam veniam incidunt eaque...
      </p>
    </div>
  </div>
</div>
